Obligatorio/Connected Services/ReferenciaProyectos/ServiciosProyecto2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49779/ServiciosProyecto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosProyecto" />
  <xs:element name="todosLosproyectos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="todosLosproyectosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiciosProyecto" minOccurs="0" name="todosLosproyectosResult" nillable="true" type="q1:ArrayOfProyectoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>